<a href="https://colab.research.google.com/github/Dadon2911/project_01/blob/main/Homework/Level_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Задача 4.1
# Домашнее задание на SQL

# В базе данных teacher создайте таблицу Students

# Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)

# Наполните таблицу следующими данными:

# 201, Иван, 1
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

# Формат вывода:

# ID Студента:
# Имя студента:
# ID школы:
# Название школы:


import sqlite3 

connection = sqlite3.connect('teachers.db') # подключение к базе данных
cursor = connection.cursor()
sqlquery = """CREATE TABLE School ( 
School_Id INTEGER NOT NULL PRIMARY KEY, 
School_Name TEXT NOT NULL, 
Place_Count INTEGER NOT NULL
); """ # задать sql запрос (create - выполняется команда 1 раз, повторно-будет выдавать ошибку)
cursor.execute(sqlquery)
connection.commit() # обновление БД
connection.close() # закрывать соединение с базой данных, после выполнения запросов

connection = sqlite3.connect('teachers.db') 
cursor = connection.cursor()
sqlquery = """INSERT INTO School (School_Id, School_Name, Place_Count) 
VALUES 
('1', 'Протон', 200), 
('2', 'Преспектива', 300), 
('3', 'Спектр', 400), 
('4', 'Содружество', 500); """ # Insert - выполняется команда 1 раз, повторно-будет выдавать ошибку
cursor.execute(sqlquery)
connection.commit()
connection.close()

connection = sqlite3.connect('teachers.db')
cursor = connection.cursor()
sqlquery = """CREATE TABLE Students (
Students_Id INTEGER NOT NULL,
Students_Name TEXT NOT NULL, 
School_Id INTEGER NOT NULL PRIMARY KEY
); """ 
cursor.execute(sqlquery)
connection.commit() 
connection.close() 

connection = sqlite3.connect('teachers.db') 
cursor = connection.cursor()
sqlquery = """INSERT INTO Students (Students_Id, Students_Name, School_Id) 
VALUES 
('201', 'Иван', 1), 
('202', 'Петр', 2), 
('203', 'Анастасия', 3), 
('204', 'Игорь', 4); """ 
cursor.execute(sqlquery)
connection.commit()
connection.close()

def get_connection():
  connection = sqlite3.connect('teachers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student(Student_Id):
  try:
    connection = sqlite3.connect("teachers.db")
    cursor = connection.cursor()
    query = "SELECT * FROM Students JOIN School ON School.School_Id = Students.School_Id WHERE Students.Students_id = ?"
    cursor.execute(query,(Student_Id,))
    records = cursor.fetchall()
    for row in records:
      print("ID Студента:", row[0])
      print("Имя студента:", row[1])
      print("ID Школы:", row[2])
      print("Название школы:", row[4])
  except (Exception, sqlite3.Error) as error:
    print ("Ошибка в получении данных: ", error)

x = int(input("Введи ID студента:"))

get_student(x)

Введи ID студента:204
ID Студента: 204
Имя студента: Игорь
ID Школы: 4
Название школы: Содружество